@model IEnumerable<PTUDW_03.Models.TbMenu>

@foreach (var item in Model.Where(i => i.Levels == 1))
{
    var menuId = item.MenuId;
    var menuChild = Model.Where(i => i.ParentId == menuId).OrderBy(i => i.Position);
    <li class="drop-holder">
        <a href="/@item.Alias">
            @item.Title
            @*<i class="fa fa-chevron-down"></i>*@
        </a>
        @if (menuChild != null)
        {
            <ul class="drop-menu">
                @foreach (var itemChild in menuChild)
                {
                    <li>
                        <a href="/@itemChild.Alias">@itemChild.Title</a>
                    </li>
                }
            </ul>
        }
    </li>
}
